/****************************************
*****************************************
 CSS Document
*****************************************
****************************************/
body {
	margin: 0px;
	overflow-x: hidden;

}

* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
	box-sizing: border-box;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 36px;
	color: #42C3C9;
}

h3 {
	font-size: 24px;
	color: #4A4A4A;
	line-height: 23px;
}

p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
}

strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
}

a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}


/****************************************
*****************************************
Video background
*****************************************
****************************************/

.video{
	max-width: 100vw;
	display:flex;
	align-items: center;
	color:#fff;

}

/****************************************
*****************************************
Nav-bar
*****************************************
****************************************/
.navbar {
	display: flex;
	margin: 0px auto;
	background-color: lightcyan;
	color: black;
	min-height:6%;
	height: auto;
	position: fixed;
	width: 100%;
	list-style: none;
  padding: 0px;
  flex-wrap: wrap;
}

.navbox {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navleft {
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-left: 50px;
}

.navright {
	justify-content: flex-end;
	flex-wrap: nowrap;
	padding-right: 50px;
}
.navbox:first-child > span {
	margin-right: auto;
}

.navbox:last-child > span {
	margin-left: auto;
}

.navbar-item {
	padding: 10px;
	text-decoration: none;
	white-space: nowrap;
	overflow: hidden;
}

.navbar-item a {
	text-decoration: none;
}

.navbar-item a:hover {
	color: black;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}



@media (max-width: 800px) {

	.navcenter {
		display:#;
	}
	.navright {
		display:none;
	}
}



/****************************************
*****************************************
Welcome Section
*****************************************
****************************************/

#welcome-section {
	top: 0px;
	min-height: 55vh;
	padding-top: 45vh;
	height: 100vh;
	background-color: lightcyan;
	text-align: center;
}

#click-here {
	margin-top: 225px;
}

#click-here h3{
	padding: 5px;
	display:inline;
	border-style:solid;
	border-width:3px;
	border-radius: 50px;
}

/****************************************
*****************************************
content-wrapper
*****************************************
****************************************/
.header h2{margin:0px;}
.header h3{margin: 20px 0px;}

.sidebar {grid-area: sidebar;}

.content {
  grid-area: content;
  position: relative;

}

.header {
	padding-top: 75px;
	border-bottom: solid 2px BLACK;
  grid-area: header;
	font-family: 'Fira Sans', sans-serif;
	line-height: 1.6;
	display: grid;
	place-items: center;
}


.footer {
  grid-area: footer;
}

.content-wrapper {
	margin: 0px 15%;
	padding: 55px 1% 1%;
	display: grid;
  grid-template-columns: 1fr;
	grid-column-gap: 2em;
	grid-template-areas:
		"header"
		"content"
		"sidebar"
		"footer";
  background-color: lightgrey;
  color: #444;
}

@media (min-width: 600px) {
  .content-wrapper {
		margin: 0px 15%;
		padding: 55px 1% 1%;
    text-align: left;
		display: grid;
		grid-template-columns: 25vw;
		grid-template-areas:
		  "header  header  header header"
		  "content content content sidebar"
		  "footer  footer  footer footer";
  }

.box {
  background-color: white;
  color: #fff;
  border-radius: 0px;
  padding: 1%;
  font-size: 150%;
}

.header,
.footer {
  background-color: #;
}

.card {
  // box-shadow: 0 0 20px rgba(0,0,0,.2);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // background: lightcyan;
  flex-basis: 250px;
  color: white;
  padding: 0em;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-template-areas:
    "name"
    "image"
    "social"
    "position"
    "description";
}


.profile-name     { grid-area: name; }
.profile-position { grid-area: position; }
.profile-info     { grid-area: description; }
.profile-img      { grid-area: image; }
.social-list      { grid-area: social; }



.profile-info {
  font-weight: 300;
  opacity: .7;
}

.profile-name {
  grid-area: name;
  letter-spacing: 1px;
  font-size: 2rem;
  margin: .75em 0 0;
  line-height: 1;
}

.profile-name::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  background: #5bcbf0;
  margin: .5em auto .65em;
  opacity: .25;
}

.profile-position {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 3px;
  margin: 0 0 .5vem;
  line-height: 1;
  color: #5bcbf0;
}

.profile-img {
  justify-self: center;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid white;
}

.social-list {
  justify-self: center;
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 75px;
  margin: .5em 0 0;
  padding: 0;
}

.social-link {
  color: #5bcbf0;
  opacity: .5;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.bio-title {
  color: #0090D1;
  font-size: 1.25rem;
  // font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}


@media (min-width: 600px) {
  .card {
    text-align: left;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "image name"
      "image position"
      "social description";
  }

  .profile-name::after {
    margin-left: 0;
  }
}

/****************************************
*****************************************
project section
*****************************************
****************************************/
#projects{
	padding: 175px 0px;
}

.heading {
	padding: 0px;
}

.heading h2{
	text-align:center;
}

.projects{
	display:flex;
	padding: 0px 10%;
	flex-wrap:wrap;
	min-height:100%;
	margin: 0px auto;
	justify-content: center;
}

.project-child{
	margin:10px 25px;
	min-height: 20em;
	min-width: 20em;
	border: 2px solid darkblue;
	border-radius:1em;
	background-color: lightblue;
}
/****************************************
*****************************************
Blog section
*****************************************
****************************************/

/****************************************
*****************************************
Button
*****************************************
****************************************/

.btn {
	display: block;
	margin: 30px auto 80px;
	border: 2px solid  #7AD4D0;
	color: darkcyan;

}

/****************************************
*****************************************
Contacts
*****************************************
****************************************/

#contact {
	background-color:aquamarine;
	text-align: center;
	padding: 180px 0 110px 0px;
	margin: 0px 0px;

}

/****************************************
*****************************************
footer
*****************************************
****************************************/


#footer {
	margin: 0px;
	background-color: darkslategrey;
	color: white;
	height:100px;
	padding: 20px;
	text-align: center;

}
