/*******************************************************************************
********************************************************************************
 Video
********************************************************************************
*******************************************************************************/
.video-wrapper {
	height: 100vh;
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	background-color: black;
}
.video-container {}

.video {}

.video video{
		width: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
}

/*******************************************************************************
********************************************************************************
 Nav-bar
********************************************************************************
*******************************************************************************/
.navbar {
	display: flex;
	margin: 0px;
	height:8vh;
	position: fixed;
	width: 100%;
	list-style: none;
  padding: 0px;
	z-index: 10000;
}

.navbox {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navleft {
	justify-content: flex-start;
	padding-left: 50px;
}

.navright {
	justify-content: flex-end;
	padding-right: 50px;
}
.navbox:first-child > span {margin-right: auto;}
.navbox:last-child > span {margin-left: auto;}

.navbar-item {
	padding: 10px;
	white-space: nowrap;
}

.navbar-item a {
	text-decoration: none;
	font-size: 1.25em;
}
.navbar-item a:hover {	color: purple;}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: #0093B9;
  box-shadow:
    0 0.25em 0 0 #0093B9,
    0 0.5em 0 0 #0093B9;
}

.box-shadow-menu:before a:hover {
		background: black;
		box-shadow:
			0 0.25em 0 0 black,
			0 0.5em 0 0 black;
}

/*******************************************************************************
********************************************************************************
Welcome
********************************************************************************
*******************************************************************************/

.welcome-wrapper {
	min-height: 55vh;
	padding-top: 45vh;
	background-color: lightcyan;
	text-align: center;
}

/* Welcome for small screens */
@media (max-width: 600px) {
		.welcome-wrapper {
		}
}

#click-here {margin-top: 150px;}
#click-here h3{
	padding: 5px;
	display:inline;
	border-style:solid;
	border-width:3px;
	border-radius: 50px;
}
#click-here:hover {}

/*******************************************************************************
********************************************************************************
 Grid
********************************************************************************
*******************************************************************************/

/* header */
.header h2{
	font-size: 3em;
	margin:0px;
}

.header h3{
	margin: 0px;
	font-size: 1.5em;
	line-height: 1.5em;
}

.header {
	align-items: center;
	margin-bottom:2%;
	white-space: nowrap;
	height:100%;
	border-bottom: solid 2px black;
}

/* content-wrapper */
.content-wrapper {
	min-height: 90vh;
	margin: 0 15%;
	padding: 10vh 0 0;
	display: grid;
	grid-gap: 1em;
	grid-template-rows:12vh min-content;
	grid-template-columns: 1fr;
	grid-template-areas:
	"header"
	"content"
}
.sidebar	{grid-area: sidebar;}
.content	{grid-area: content;}
.header 	{grid-area: header;}

/* blog-wrapper*/
.blog-wrapper {
	grid-template-columns: 25vw;
	grid-template-areas:
		"header  header  header header"
		"content content content sidebar";
}

/* project-wrapper */
  .project-wrapper {  }

/* blog-wrapper*/
.blog-wrapper {
	grid-template-columns: 25vw;
	grid-template-areas:
		"header  header  header header"
		"content content content sidebar";
}

/* forum wrapper */
	.forum-wrapper{
		grid-template-columns: 25vw;
		grid-template-areas:
			"header  header  header header"
			"content content content sidebar";
	}

/* wrappers for small devices*/
@media (max-width: 600px) {
	.content-wrapper {
		margin: 0 2%;
	}
	.navright {display:none;}
	.content-wrapper {
		margin: 0 2%;
		grid-template-columns: 1fr;
		grid-template-areas:
			"header"
			"content"
			"sidebar";
	}
}

/* all cards */
.blog-card,.side-card,.project-card {
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 0 20px rgba(0,0,0,.2);
	padding:2%;
}

/* blog card */
  .blog-card {
		display: grid;
		grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
		grid-gap: 1em;
    grid-template-areas:
      "image name"
      "image position"
      "social description";
  }

.profile-name::after {margin-left: 0;}
.profile-name     { grid-area: name; }
.profile-img      { grid-area: image; }
.social-list      { grid-area: social; }
.profile-position { grid-area: position; }
.profile-info     { grid-area: description; }

/* blog card for small devices */
@media (max-width: 600px) {
		.blog-card {
	  		grid-template-columns: 1fr;
	  		grid-template-areas:
	    			"name"
	    			"image"
				    "social"
				    "position"
				    "description";
			}
		.profile-img {justify-self: center;}
}

/*project card */
  .project-card {
		display: grid;
		grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
		grid-gap: 1em;
		margin-bottom: 2%;
    grid-template-areas:
      "image name"
      "image position"
      "social description";
  }

/* project card for small devices */
@media (max-width: 600px) {
		.project-card {
	  		grid-template-columns: 1fr;
	  		grid-template-areas:
	    			"name"
	    			"image"
				    "social"
				    "position"
				    "description";
			}
		.profile-img {justify-self: center;}
}


/*******************************************************************************
********************************************************************************
 card css
********************************************************************************
*******************************************************************************/

.profile-info {
  font-weight: 300;
  opacity: .7;
}

.profile-name {
  letter-spacing: 1px;
  font-size: 2rem;
  margin: .75em 0 0;
  line-height: 1;
}

.profile-name::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  background: #5bcbf0;
  margin: .5em auto .65em;
  opacity: .25;
}

.profile-position {
  text-transform: uppercase;
  font-size: .875rem;
  letter-spacing: 3px;
  margin: 0 0 .5vem;
  line-height: 1;
  color: #5bcbf0;
}

.profile-img {
  justify-self: center;
  max-width: 100%;
  border-radius: 50%;
  border: 2px solid white;
}

.social-list {
  justify-self: center;
  list-style: none;
  justify-content: space-between;
  display: flex;
  width: 75px;
  margin: .5em 0 0;
  padding: 0;
}

.social-link {
  color: #5bcbf0;
  opacity: .5;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.bio-title {
  color: #0090D1;
  font-size: 1.25rem;
  // font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;
}


/****************************************
*****************************************
Button
*****************************************
****************************************/

.btn {
	display: block;
	margin: 30px auto 80px;
	border: 2px solid  #7AD4D0;
	color: darkcyan;

}

/****************************************
*****************************************
Contacts
*****************************************
****************************************/

#contact {
	background-color:aquamarine;
	text-align: center;
	padding: 180px 0 110px 0px;
	margin: 0px 0px;
}

/****************************************
*****************************************
footer
*****************************************
****************************************/

#footer {
	margin: 0px;
	background-color: darkslategrey;
	color: white;
	height:100px;
	padding: 20px;
	text-align: center;
}




/*******************************************************************************
********************************************************************************
 CSS Document
********************************************************************************
*******************************************************************************/
body {
	margin: 0px;
	overflow-x: hidden;
}

* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 3em;
	color: #42C3C9;
}

h3 {
	font-size: 24px;
	color: #4A4A4A;
	line-height: 23px;
}

p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
}

strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
}

a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}
