/****************************************
*****************************************
 CSS Document
*****************************************
****************************************/
body {
	margin: 0px;
}

* {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 700;
}

h1 {
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-size: 50px;
	color: #51453B;
	line-height: 60px;
	font-weight: 300;
}

h2 {
	font-size: 36px;
	color: #42C3C9;
}

h3 {
	font-size: 24px;
	color: #4A4A4A;
	line-height: 23px;
}

p {
 	font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
 	font-weight: 400;
}

strong {
 	font-size: 16px;
 	color: #7B7573;
 	line-height: 24px;
}

a {
 	font-size: 14px;
 	color: #0093B9;
 	line-height: 17px;
}

.btn {
	padding: 20px;
	margin: 0;
	border-color: #9FB80A;
	border-width: 2px;
	color: #9FB80A;;
}

.btn:hover {
	border-color: #9FB80A;
}

.btn.delete {
	border-color: #aaaaaa;
	color: #aaaaaa;
}

.btn.delete:hover {
	border-color: #aaaaaa;
	color: red;
}

.flash {
	background-color: #98FB98;
	width:100%;
	text-decoration: none;
}

.flash li {
	list-style-type: none;
	text-align: center;
}
/****************************************
*****************************************
Nav-bar
*****************************************
****************************************/
.navbar {
	display: flex;
	margin: 0px auto;
	background-color: lightcyan;
	color: black;
	min-height:6%;
	height: auto;
	position: fixed;
	width: 100%;
	list-style: none;
  padding: 0px;
  flex-wrap: wrap;
}

.navbox {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navleft {
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-left: 50px;
}

.navright {
	justify-content: flex-end;
	flex-wrap: wrap;
	padding-right: 50px;
}
.navbox:first-child > span {
	margin-right: auto;
}

.navbox:last-child > span {
	margin-left: auto;
}

.navbar-item {
	padding: 10px;
	text-decoration: none;
}

.navbar-item a {
	text-decoration: none;
}

.navbar-item a:hover {
	color: black;
}

.box-shadow-menu {
  position: relative;
  padding-left: 1.25em;
}
.box-shadow-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}




/****************************************
*****************************************
Welcome Section
*****************************************
****************************************/


#welcome-section {
	top: 0px;
	min-height: 55vh;
	padding-top: 45vh;
	height: 100vh;
	background-color: lightcyan;
	text-align: center;
}

#click-here {
	margin-top: 225px;
}

#click-here h3{
	padding: 5px;
	display:inline;
	border-style:solid;
	border-width:3px;
	border-radius: 50px;

}

/****************************************
*****************************************
flexbox for project section
*****************************************
****************************************/
#projects{
	padding: 175px 0px;
}

.heading {
	padding: 0px;
}

.heading h2{
	text-align:center;
}

.projects{
	display:flex;
	padding: 0px 10%;
	flex-wrap:wrap;
	min-height:100%;
	margin: 0px auto;
	justify-content: center;
}

.project-child{
	margin:10px 25px;
	min-height: 20em;
	min-width: 20em;
	border: 2px solid darkblue;
	border-radius:1em;
	background-color: lightblue;
}

/****************************************
*****************************************
Blog section
*****************************************
****************************************/
#blog {
	display:;
	padding: 175px 10%;
	min-height:100%;
	margin: 0px auto;
	justify-content: center;
}

.blog-child{

}



/****************************************
*****************************************
Button
*****************************************
****************************************/


.btn {
	display: block;
	margin: 30px auto 80px;
	border: 2px solid  #7AD4D0;
	color: darkcyan;

}






/****************************************
*****************************************
Contacts
*****************************************
****************************************/


#contact {
	background-color:aquamarine;
	text-align: center;
	padding: 180px 0 110px 0px;
	margin: 0px 0px;

}


/****************************************
*****************************************
Ctn
*****************************************
****************************************/


.ctn {
	background-color: white;
	border-radius: 100%;
	border: 2px solid green;
	width:100px;
	height:100px;
	display: inline-block;
	line-height: 100px;
	margin:0 35px 45px 35px;


}



/****************************************
*****************************************
ctn header
*****************************************
****************************************/

header {
	margin-bottom: 80px;

}



/****************************************
*****************************************
footer
*****************************************
****************************************/

#footer {
	margin: 0px;
	background-color: darkslategrey;
	color: white;
	height:100px;
	padding: 20px;
	text-align: center;

}


/****************************************
*****************************************
Blog from yt
*****************************************
****************************************/
/* Header/Blog Title */
.blog-header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 70%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
