{% extends "main.html" %}
{% block content %}
<div class="login-wrapper content-wrapper" id="login">
  <div class="box header">
    <h2>Welcome {{ current_user.username }}!</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
	<div class="box content center-box">
    <div class= "login-card card">
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ image_file }}">
          <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
          </div>
        </div>
      </div>
      <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend>Account Info</legend>
          <p>Please fill in this form to create an account.</p>
          <div class="form-group">
            {{ form.username.label(class="form-control-label") }}

            {% if form.username.errors %}
              {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.username(class="form-control form-control-lg", placeholder="Enter Username") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                  </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg", placeholder="Enter Email") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.picture.label() }}
            {{ form.picture(class="form-control-file") }}
            {% if form.picture.errors %}
              {% for error in form.picture.errors %}
                <span class="text-danger">{{ error }}</span></br>
              {% endfor %}
            {% endif %}
          </div>
        </fieldset>

        <div class="form-group">
          {{ form.submit(class="registerbtn btn-outline-info") }}
        </div>
      </form>
    </div><!--card-->
  </div><!--center-box-->
</div><!--content-wrapper-->
{% endblock %}
