{% extends "main.html" %}
{% block content %}
<div class="login-wrapper content-wrapper" id="login">
  <div class="box header">
    <h2>Welcome {{ current_user.username }}!</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
	<div class="box content center-box">
    <div class= "login-card card">
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ image_file }}">
          <div class="media-body">
            <h2 class="account-heading">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
