{% extends "main.html" %}
{% block content %}
<div class="video-wrapper"
	<div class="video-container">
		<video class="video" src=" {{  url_for('static', filename='vids/intro.mp4')}} " autoplay="true" loop="true">
	</video>
</div>
<div class="welcome-wrapper" id="welcome-section">
	<h1>Hello World, I'm Uriel Zacarias</h1>
	<h2>full stack web developer</h2>
	<div id="click-here"><h3>&#171;click here&#187;</h3></div>
</div>

<div class="content-wrapper" id="projects">
	<div class="box header">
		<h2>These are some of my Projects.</h2>
	</div>

	<div class="box content">
		<div class="project-card">
			<a href="http://urielzacarias.com/" class="project-tile">
				<img class="img" src="#">
				<h5>Tribute Page</h5>
			</a>
		</div>
		
	</div>

	<div class="box sidebar">
	</div>

	<div class="box footer">
	</div>

</div>

{% endblock %}
