{% extends "main.html" %}
{% block content %}
<div class="login-wrapper content-wrapper" id="login">
  <div class="box header"></div>
  <div class="box content">
      <form class="login-card card">
        <div class="login-card-user">
          <label for="username">Username</label>
          <input type="text" placeholder="Enter Username" name="username" required>
        </div>
        <div class="login-card-pass">
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
        </div>
        <div class="login-card-auth">
          <!--FACEBOOK SIGN IN -->

          <script>
var finished_rendering = function() {
  console.log("finished rendering plugins");
  var spinner = document.getElementById("spinner");
  spinner.removeAttribute("style");
  spinner.removeChild(spinner.childNodes[0]);
}
FB.Event.subscribe('xfbml.render', finished_rendering);
</script>
<div id="spinner"
    style="
        background: #4267b2;
        color: white;
        height: 20px;
        text-align: center;
        width: 310px;">
    Loading
    <div
    class="fb-login-button"
    data-max-rows="1"
    data-size="large"
    data-button-type="continue_with"
    data-use-continue-as="true"
    ></div>
</div>

<!--GOOGLE SIGN IN -->
          <div id="my-signin2"></div>
          <script>
            function onSuccess(googleUser) {
              console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
            }
            function onFailure(error) {
              console.log(error);
            }
            function renderButton() {
              gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 310,
                'height': 30,
                'longtitle': true,
                'theme': 'dark',
                'onsuccess': onSuccess,
                'onfailure': onFailure
              });
            }
          </script>

        </div>
        <div class="login-card-sub"
          <button type="submit">Login</button>
          <label><input type="checkbox" checked="checked" name="remember"> Remember me</label>
        </div>
        <div class="login-card-can"
          <button type="button" class="cancelbtn">Cancel</button>
          <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
      </form>
  </div>
</div>

<!-- GOOGLE PLUS SIGN IN-->
<script>
  function (authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main cities page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = "/";
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }

</script>
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '599583343779617',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use version 2.8
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
          setTimeout(function() {
          window.location.href = "/";
        }, 4000);
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  });
    });
  }
</script>
<!--FACEBOOK SIGN IN END-->
{% endblock %}
