<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport"  content="width=device-width, initial-scale=1.0" charset="utf">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<title>Uriel Zacarias</title>
	</head>
	<body>
		<div class="container">
			<nav class="navbar-container" id="navbar">
				<li class="navbat-child"><a href="#" class="box-shadow-menu"></a></li>
				<li class="navbar-child"><a href="#">About</a></li>
				<li class="navbar-child"><a href="#">Home</a></li>
				<li class="navbar-child"><a href="#">Blog</a></li>
				<li class="navbar-child"><a href="#">Forum</a></li>
				<li class="navbar-child"><a href="#">Shop</a></li>
				<li class="navbar-child"><a href="#">Projects></a></li>
				<li class="navbar-child"><a href="#">Sign In</a></li>
			</nav>

			{% block content %}
			{% endblock %}
		
			<div id="contact">
				<header>
					<h2>Let's Work Together </h2>
					<h6>How do you take your coffee?</h6>
				</header>
				<a class="ctn">Facebook</a>
				<a href="https://github.com/Avensky" class="ctn" id="profile-link" target="_blank">GitHub</a>
				<a class="ctn">Twitter</a>
				<a class="ctn">Email</a>
				<a class="ctn">Call</a>

			</div>

			<div id="footer">
				<h5>**This is just a fake.. ALl the projects and contact deail given are not real..</h5>
				
				<h5>Created for FreeCodeCamp</h5>	
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	</body>
</html>
