{% extends "main.html" %}
{% block content %}
<div class="login-wrapper content-wrapper" id="register">
  <div class="box header"></div>
	<div class="box content center-box">
    <div class= "register-card card">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
          <legend>Register Today!</legend>
          <p>Please fill in this form to create an account.</p>
          <hr>
            {{ form.username.label }}
            {% if form.username.errors %}
              {{ form.username }}
                <div class="invalid-feedback">
                  {% for error in form.username.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.username(placeholder="Enter Username") }}
            {% endif %}

            {{ form.email.label }}
            {% if form.email.errors %}
              {{ form.email }}
              <div class="invalid-feedback">
                {% for error in form.email.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
            {{ form.email(placeholder="Enter Email") }}
            {% endif %}

            {{ form.password.label }}
            {% if form.password.errors %}
              {{ form.password }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.password(placeholder="Enter Password") }}
            {% endif %}

            {{ form.confirm_password.label }}
            {% if form.confirm_password.errors %}
              {{ form.confirm_password }}
                <div class="invalid-feedback">
                  {% for error in form.confirm_password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.confirm_password(placeholder="Confirm Password") }}
            {% endif %}

        </fieldset>
        <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
        {{ form.submit(class="registerbtn") }}

      </form>
      <p>Already Have An Account? <a class="" href="{{ url_for('login') }}">Sign In</a></p>
    </div>
  </div>
</div>
{% endblock %}
