<div class="video-wrapper" id="video">
  <div class="video-container">
    <a href="#welcome"><video class="video" src="{{ url_for('static', filename='vids/intro.mp4') }}" autoplay="true" loop="true"></video></a>
  </div>
</div>

<div class="welcome-wrapper" id="welcome">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  <h1>Hello World, I'm Uriel Zacarias</h1>
  <h2>full stack web developer</h2>
  <div id="click-here">
    <a href="#projects"<h3>&#171;click here&#187;</h3></a>
  </div>
</div>
