{% extends "main.html" %}
{% block content %}
<div class="login-wrapper content-wrapper" id="login">
  <div class="box header">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </div>
	<div class="box content center-box">
    <div class= "login-card card">
      <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend>Log in</legend>

          <div class="form-group">
            {{ form.email.label(class="form-control-label") }}

            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.email.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.email(class="form-control form-control-lg", placeholder="Enter Email") }}
            {% endif %}
          </div>

          <div class="form-group">
            {{ form.password.label(class="form-control-label") }}

            {% if form.password.errors %}
              {{ form.password(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.password.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
            {% else %}
              {{ form.password(class="form-control form-control-lg", placeholder="Enter Password") }}
            {% endif %}
          </div>

          <div class="form-check">
            {{ form.remember(class="form-check-input") }}
            {{ form.remember.label(class="form-check-label") }}
          </div>

        </fieldset>
        <div class="form-group">
          {{ form.submit(class="registerbtn  btn-outline-info") }}
        </div>
        <small class="text-muted ml-2">
            <a href="{{ url_for('reset_request')}}">Forgot Password?</a>
        </small>
      </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up Now</a>
        </small>
    </div>
    <div class="border-top pt-3"></div>
    <div class="form-card-auth">
      <!--FABEBOOK SIGN IN -->
      <div class="fb-showLogin">
        <button>
          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
          <a href='javascript:sendTokenToServer()'>Login with Facebook</a>
          </fb:login-button>
        </button>
      </div>
      <!--GOOGLE SIGN IN -->
      <div class="g-signin" id="signinButton">
        <span class="g-signin"
          data-scope="openid email"
          data-clientid="7173251456-8vjdunpt1ugo70qq3f7na0009qprr9b4.apps.googleusercontent.com"
          data-redirecturi="postmessage"
          data-accesstype="offline"
          data-cookiepolicy="single_host_origin"
          data-callback="signInCallback">
        </span>
      </div>
      <div id="result"></div>
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
  </div>
</div>

<!-- GOOGLE PLUS SIGN IN-->
<script>
  function (authResult) {
    if (authResult['code']) {
      // Hide the sign-in button now that the user is authorized
      $('#signinButton').attr('style', 'display: none');
      // Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main cities page
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        success: function(result) {
          // Handle or verify the server response if necessary.
          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
            setTimeout(function() {
              window.location.href = "/home";
            }, 4000);
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
          }
        }
      });
    }
  }

</script>
<!--END GOOGLE PLUS SIGN IN -->

<!--FACEBOOK SIGN IN -->
<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '599583343779617',
    cookie     : true,  // enable cookies to allow the server to access
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.8' // use version 2.8
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
          setTimeout(function() {
          window.location.href = "/home";
        }, 4000);
      } else {
        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
  });
    });
  }
</script>
<!--END FACEBOOK SIGN IN -->
</div>
{% endblock %}
