<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		{% if title %}
		<title>Uriel Zacarias - {{ title }}</title>
		{% else %}
		<title>Uriel Zacarias</title>
		{% endif %}
	</head>
	<body>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=599583343779617&autoLogAppEvents=1"></script>
		<script src="{{ url_for('static', filename='scripts.js') }}"></script>
		<div class="wrapper">
			<div class="video-container">
				<video src="{{ url_for('static', filename='vids/webdevbak2.mp4') }}" autoplay="true" loop="true"></video>
			</div>
			<nav class="navbar" id="navbar">
			  <div class="navbox navleft">
			    <li class="navbar-item"><a href="#" class="box-shadow-menu"></a></li>
			  </div>
			  <div class="navbox navcenter">
			    <li class="navbar-item"><a href="{{url_for('showHome')}}">Home</a></li>
			  </div>
			  <div class="navbox navright">
			    <li class="navbar-item"><a href="{{url_for('showHome')}}#about">About</a></li>
			    <li class="navbar-item"><a href="{{url_for('showHome')}}#projects">Projects</a></li>
			    <li class="navbar-item"><a href="{{url_for('showBlog')}}">Blog</a></li>
	    		<li class="navbar-item" onclick="fblogout()"><a href="#">fblogout</a></li>
				{% if current_user.is_authenticated %}
				<li class="navbar-item">
					<a href="{{ url_for('account') }}">Account</a>
				</li>
				<li class="navbar-item">
					<a href="{{ url_for('logout') }}">Logout</a>
				</li>
				{% else %}
				<li class="navbar-item">
					<a href="{{ url_for('register') }}">Register</a>
				</li>
				<li class="navbar-item">
					<a href="{{ url_for('login') }}">Login</a>
				</li>
				{% endif %}
			  </div>
			</nav>

			{% block content %}{% endblock %}
			<div id="contact">
				<h2>Let's Work Together!</h2>
				<h6>Come find me!</h6>
				<a class="ctn">Facebook</a>
				<a href="https://github.com/Avensky" class="ctn" id="card-link" target="_blank">GitHub</a>
				<a class="ctn">Twitter</a>
				<a class="ctn">Email</a>
				<a class="ctn">Call</a>
			</div>

			<div id="footer"></div>
		</div>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	</body>
</html>
