<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport"  content="width=device-width, initial-scale=1.0" charset="utf">
		<meta name="google-signin-client_id" content="7173251456-8vjdunpt1ugo70qq3f7na0009qprr9b4.apps.googleusercontent.com">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
		<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"></script>
		<script src="https://apis.google.com/js/platform.js" async defer></script>
		<!--script src="{{ url_for('static', filename='script.js') }}"></script-->
		{% if title %}
		<title>Uriel Zacarias - {{ title }}</title>
		{% else %}
		<title>Uriel Zacarias</title>
		{% endif %}
	</head>
	<body>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=599583343779617&autoLogAppEvents=1"></script>
		<div class="wrapper">
			<div class="video-container">
				<video src="{{ url_for('static', filename='vids/webdevbak2.mp4') }}" autoplay="true" loop="true"></video>
			</div>
			<nav class="navbar" id="navbar">
			  <div class="navbox navleft">
			    <li class="navbar-item"><a href="#" class="box-shadow-menu"></a></li>
			  </div>
			  <div class="navbox navcenter">
			    <li class="navbar-item"><a href="{{url_for('showHome')}}">Home</a></li>
			  </div>
			  <div class="navbox navright">
			    <li class="navbar-item"><a href="{{url_for('showHome')}}#about">About</a></li>
			    <li class="navbar-item"><a href="{{url_for('showHome')}}#projects">Projects</a></li>
			    <li class="navbar-item"><a href="{{url_for('showBlog')}}">Blog</a></li>
			    <!-- li class="navbar-item">
			    {% if 'username' not in session %}
			      <a href="{{url_for('login')}}">Login   </a>
			      {% else %}
			      <a href="{{url_for('disconnect')}}">Logout </a>
			    {% endif %}
					</li-->
					{% if current_user.is_authenticated %}
					<li class="navbar-item">
						<a href="{{ url_for('account') }}">Account</a>
					</li>
					<li class="navbar-item">
						<a href="{{ url_for('logout') }}">Logout</a>
					</li>
					{% else %}
					<li class="navbar-item">
						<a href="{{ url_for('register') }}">Register</a>
					</li>
					<li class="navbar-item">
						<a href="{{ url_for('login') }}">Login</a>
					</li>
					{% endif %}
			  </div>
			</nav>

			{% block content %}{% endblock %}
			<div id="contact">
				<h2>Let's Work Together!</h2>
				<h6>Come find me!</h6>
				<a class="ctn">Facebook</a>
				<a href="https://github.com/Avensky" class="ctn" id="card-link" target="_blank">GitHub</a>
				<a class="ctn">Twitter</a>
				<a class="ctn">Email</a>
				<a class="ctn">Call</a>
			</div>

			<div id="footer"></div>
		</div>


  <!-- script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script -->
	<!-- script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script -->
	<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script-->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	</body>
</html>
