<div class="video-wrapper" id="video">
  <div class="video-container">
    <video src="{{ url_for('static', filename='vids/webdevbak2.mp4') }}" autoplay="true" loop="true"></video>
  </div>
  <div class="header-overlay"></div>
  <a href="{{url_for('showHome')}}#projects">
    <h1>Hello, I'm <span class="highlight">Uriel Zacarias</span></h1>
    <h2>full stack web developer</h2>
  </a>
  <div class="click-here">
    <a href="{{url_for('showHome')}}#projects"><h3>&#171;click here&#187;</h3></a>
  </div>
</div>



<div class="welcome-wrapper" id="welcome">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
  <h1>Hello World, I'm Uriel</h1>
  <h2>full stack web developer</h2>
  <div id="click-here">
    <a href="#projects"<h3>&#171;click here&#187;</h3></a>
  </div>
</div>
